* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$break-mobile: 600px;

body {
  font-family: 'Muli', sans-serif;
  @media only screen and (max-width: $break-mobile) {
    padding: 0 20px 0 20px;
  }
}


// Link

.orange-link {
  color: #f49128;
}

.orange-link:hover {
  text-decoration: none;
}

// Button

.orange-button {
  background-color: #F49128;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  a {
    color: #fff;
    text-decoration: none;
    @media only screen and (max-width: $break-mobile) {
      font-weight: 500 !important;
    }
  }
}

.orange-button:hover {
  border: 1px solid #F49128;
  background-color: #fff;
  transition: 0.4s;

  a {
    color: #f49128;
  }
}

.white-button {
  border: 1px solid #F49128;
  border-radius: 4px;
  background-color: #fff;

  a {
    color: #f49128;
    text-decoration: none;
  }
}

.white-button:hover {
  background-color: #F49128;
  transition: 0.4s;

  a {
    color: #fff;
  }
}

// Blue line

.blue-line {
  height: 3px;
  background-color: #eaf1f6;
}

// Header
.mobile_header {
  &-main_navigation {
    display: none;
    @media only screen and (max-width: $break-mobile) {
      background: #fff;
      max-height: 100vh;
      overflow-y: scroll;
      width: 360px;
      position: fixed;
      top: 50px;
      right: 0;
      border-top: 3px solid #557fb8;
    }
  }
}

.mobile_main_navigation {
  &-list_container {
    //opacity: 0;
    //visibility: hidden;
    //height: 0;
  }

  &-item {
    border-bottom: 1px solid #eaf1f6;
    width: 100%;
    padding-left: 20px;
  }

  &-item_link {
    display: block;
    width: 100%;
    color: #3068b4;
    font-size: 14px;
    font-family: Libre Franklin, sans-serif;
    font-weight: 700;
    line-height: 40px;
    text-decoration: none;
  }

  &-list {
    list-style: none;
    margin-left: -20px;
  }

  &-list_item {
    padding-left: 20px;
    border-bottom: 1px solid #eaf1f6
  }

  &-list_item_link {
    display: block;
    width: 100%;
    padding-left: 20px;
    position: relative;
    text-decoration: none;
    color: #4e5256;
    font-size: 14px;
    font-family: Libre Franklin, sans-serif;
    line-height: 40px;
  }
}

.header {
  &-navigation_container {
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #fff;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 -20px;
      width: auto;
    }
  }

  &-menu_toggle_container {
    display: none;
    @media only screen and (max-width: $break-mobile) {
      display: block;
      border-right: none !important;
      width: 50px;
    }
  }

  &-menu_toggle {
    @media only screen and (max-width: $break-mobile) {
      display: block;
      border-right: none !important;
      width: 40px;
      padding-left: 10px;
      height: 50px;
      padding-top: 15px;
      cursor: pointer;
    }
  }

  &-menu_toggle_line1 {
    margin-bottom: 5px;
    background: #f49128;
    height: 3px;
  }

  &-menu_toggle_line2 {
    left: 30%;
    position: relative;
    width: 20px;
    margin-bottom: 5px;
    background: #f49128;
    height: 3px;
  }

  &-menu_toggle_line3 {
    background: #f49128;
    height: 3px;
  }


  &-information {
    border-bottom: 1px solid #D7E3EF;
  }

  &-information_container {
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 500px 680px;
    @media only screen and (max-width: $break-mobile) {
      display: flex;
      height: 50px;
    }
  }

  &-logo {
    padding-top: 12px;
    @media only screen and (max-width: $break-mobile) {
      height: 30px;
      margin: 13px 0 0 10px;
      padding-top: 0;
    }
  }

  &-information_content {
    display: grid;
    grid-template-columns: 235px 201px 125px 119px;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 auto;
      display: flex;
    }

    div {
      border-right: 1px solid #D7E3EF;
    }

  }

  &-information_language {
    display: grid;
    /* grid-template-columns: 25px 150px; */
    padding: 25px 25px;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }

    p {
      color: #4e5256;
      font-weight: 700;
      font-size: 14px;
      text-align: center;
    }
  }

  &-information_phone {
    display: grid;
    grid-template-columns: 25px 150px;
    padding: 26px 25px 25px 25px;
    border-right: 1px solid #D7E3EF;
    color: #3068B4;
    font-weight: 700;
    font-size: 14px;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }
  }

  &-information_phone_mobile {
    display: none;
    @media only screen and (max-width: $break-mobile) {
      display: block;
      width: 50px;
      background-image: url("../assets/ic-phone-header.svg");
      background-repeat: no-repeat;
      background-position-x: 17px;
      background-position-y: 16px;
    }
  }

  &-information_search_button {
    background-image: url(../assets/ic-search-header.svg);
    background-repeat: no-repeat;
    width: 67px;
    padding: 0 0 0 20px;
    border: none;
    font-weight: 700;
    margin: 27px 0 0 25px;
    display: block;
    font-size: 14px;
    color: #4e5256;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }
  }

  &-information_button {
    margin: 18px 0 0 37px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    @media only screen and (max-width: $break-mobile) {
      display: none;
      margin: 8px 0 7px 0;
    }

    a {
      padding: 6px 26px 7px 25px;
      display: inline-block;
      font-weight: 700;
      font-size: 16px;
    }
  }

  &-information_button_mobile {
    display: none;
    margin: 18px 0 0 37px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    @media only screen and (max-width: $break-mobile) {
      display: block;
      margin: 8px 10px 7px 0;
    }

    a {
      padding: 6px 26px 7px 25px;
      display: inline-block;
      font-weight: 700;
      font-size: 16px;
      @media only screen and (max-width: $break-mobile) {
        font-weight: 700 !important;
        padding: 5px 15px 5px 15px;
      }
    }
  }


  // Navigation

  &-main_navigation {
    width: 1180px;
    margin: 0 auto;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }
  }

  // Content
  &-background_description {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 -20px 0 -20px;
    }
  }

  &-background {
    background-image: url(../assets/echolon-ganzheitliches-service-management.jpg);
    width: 100vw !important;
    background-size: cover !important;
    background-position: bottom !important;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 550px;
    @media only screen and (max-width: $break-mobile) {
      max-height: 251px;
    }
  }

  &-background:before {
    content: "";
    background-image: url(../assets/slider-mask.svg);
    background-size: cover;
    display: block;
    height: 100%;
    background-position: bottom !important;
  }

  &-background-uber_uns {
    background-image: url(../assets/EcholoN-main-ueber-uns.jpg);
    width: 100vw !important;
    background-size: cover !important;
    background-position: bottom !important;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 550px;
  }

  &-background-uber_uns:before {
    content: "";
    background-image: url(../assets/slider-mask.svg);
    background-size: cover;
    display: block;
    height: 100%;
    background-position: bottom !important;
  }

  &-main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 6;
    max-width: 960px;
    margin: 0 auto;

    h1 {
      color: #fff;
      font-size: 62px;
      font-weight: 800;
      line-height: 68px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, .27);
      width: 600px;
      @media only screen and (max-width: $break-mobile) {
        margin: 0 20px;
        font-size: 32px;
        line-height: 35px;
        width: 90%;
      }
    }
  }

  &-background_content {
    max-width: 980px;
    margin: 0 auto;
    padding-bottom: 20px;
    @media only screen and (max-width: $break-mobile) {
      margin: 40px 0 0 0;
    }
  }

  &-background_button {
    margin-right: 19px;
    padding: 5px 25px 5px 25px;
    @media only screen and (max-width: $break-mobile) {
      padding: 6px 27px 6px 28px;
      margin-bottom: 20px;
    }

    a {
      font-family: Muli, sans-serif;
      font-size: 18px;
      font-weight: 700;
    }
  }

  &-background_paragraph {
    margin-bottom: 40px;
    font-size: 24px;
    color: #4e5256;
    font-weight: 400;
    line-height: 32px;
    font-family: Libre Franklin, sans-serif;
    @media only screen and (max-width: $break-mobile) {
      margin-bottom: 10px;
    }

    b {
      color: #3068b4;
      font-family: Libre Franklin, sans-serif;
      font-weight: 700;
    }
  }
}


// Main navigation

.main_navigation {

  &-list_background {
    img {
      display: flex;
      width: 100%;
      height: auto;
    }
  }

  &-list_content {
    width: 280px;
  }

  &-item {
    display: inline-block;
    position: relative;
  }

  &-list_container_inner {
    width: 50%;
  }

  &-item:hover .main_navigation-list_container {
    display: flex;
    width: 740px;
  }

  &-item_link {
    padding: 15px 46px 15px 25px;
    display: inline-block;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    color: #3068b4;
  }

  &-item_link:hover:before {
    position: absolute;
    content: "";
    width: 6px;
    left: 5px;
    height: 20px;
    top: 15px;
    background: #f49128;
  }

  .active:before {
    position: absolute;
    content: "";
    width: 6px;
    left: 5px;
    height: 20px;
    top: 15px;
    background: #f49128;
  }

  &-list_container {
    display: none;
    position: absolute;
    border-radius: 0 0 2px 2px;
    background-color: #fff;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .22);
  }

  &-list {
    padding: 20px 40px;
  }

  &-list_item {
    padding: 0;
    display: inherit;
  }

  &-list_item_link {
    display: block;
    padding: 5px 0 5px 0;
    color: #333;
    line-height: 20px;
    font-size: 14px;
    font-family: Libre Franklin, sans-serif;
    text-decoration: none;
  }

  &-list_item_link:hover {
    font-weight: 700;
    color: #f49128;
    border: none;
  }
}

// Main image larger

.main_image_larger {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  @media only screen and (max-width: $break-mobile) {
    margin: 0 -20px;
  }

  &-image {
    width: 100vw !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 587px;
    @media only screen and (max-width: $break-mobile) {
      max-height: 251px;
    }
  }

  &-image:before {
    content: "";
    background-image: url(../assets/slider-mask.svg);
    background-size: cover;
    display: block;
    height: 100%;
    background-position: bottom !important;
  }

  &-header_container {
    margin: 15px 0 30px;
    position: absolute;
    bottom: 100px;
    width: 100%;
    @media only screen and (max-width: $break-mobile) {

    }
  }

  &-header {
    color: #fff;
    font-size: 42px;
    font-weight: 800;
    line-height: 48px;
    max-width: 620px;
    margin: auto auto auto 520px;
  }

  &-logo_container {
    position: absolute;
    bottom: 10px;
    width: 100%;
  }

  &-logo {
    float: right;
    display: table;
    height: 230px;
    width: 230px;
    text-align: center;
    border: 1px solid #d7e3ef;
    border-top: 5px solid #f49128;
    background-color: #fff;
    margin-right: 443px;
    @media only screen and (max-width: $break-mobile) {
      height: 110px;
      width: 110px;
      margin-right: 75px;
    }

    img {
      padding: 10px;
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }

  &-logo_content {
    display: table-cell;
    vertical-align: middle;
  }

  &-description {
    max-width: 883px;
    margin: 0 auto;
    padding-left: 149px;
    margin-bottom: 20px;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }

    p {
      color: #4e5256;
      font-family: Libre Franklin, sans-serif;
      font-size: 24px;
      line-height: 32px;
    }
  }
}


// Box image container

.box_image {
  &-container {
    background-color: #eaf1f6;
    margin: 30px 0 30px 0;
    padding: 45px 0 10px 0;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 -20px 0 -20px;
    }
  }

  &-list {
    list-style: none;
    padding-bottom: 15px;

    li {
      background-image: url("../assets/ic-check.svg");
      margin-bottom: 18px;
      background-repeat: no-repeat;
      padding-left: 24px;
      color: #4e5256;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 14px;
    }

  }

  &-link {
    font-weight: 700;
    margin-left: 26px;
    font-size: 14px;
    display: inline-block;
  }

  &-header {
    padding-bottom: 30px;
    text-align: center;
    line-height: 48px;
    font-weight: 800;
    color: #3068b4;
    font-size: 42px;
    @media only screen and (max-width: $break-mobile) {
      font-size: 32px;
      line-height: 40px;
      padding-bottom: 20px;
    }
  }

  &-link_header {
    display: block;
    padding-bottom: 18px;
    text-decoration: none;
    color: #3068b4;
    font-size: 24px;
    @media only screen and (max-width: $break-mobile) {
      font-size: 22px;
      padding-bottom: 20px;
    }

    h3 {
      font-weight: 800;
    }
  }

  &-link_header:hover {
    text-decoration: underline;
  }

  &-wrapper {
    max-width: 1094px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 342px 343px 342px;
    grid-column-gap: 33px;
    grid-row-gap: 20px;
    padding-bottom: 35px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      width: 100%;
      max-width: 342px;
      grid-row-gap: 40px;
    }

    div {
      padding-top: 15px;
    }

    img {
      margin-bottom: 10px;
      border-radius: 2%;
      width: 100%;
      height: auto;
    }

    b {
      font-family: 'Libre Franklin', sans-serif;
    }
  }
}


.blue_box {
  max-width: 960px;
  padding: 40px 100px;
  text-align: center;
  margin: 0 auto;
  background-image: url("../assets/teaser-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  @media only screen and (max-width: $break-mobile) {
    padding: 40px 0;
  }

  &-container {
    padding-top: 45px;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 -20px 0 -20px;
      padding-top: 80px;
    }
  }

  &-header {
    padding-bottom: 30px;
    line-height: 1.2;
    font-size: 42px;
    font-weight: 800;
    color: #fff;
  }

  &-paragraph {
    line-height: 1.6;
    font-size: 18px;
    font-family: 'Libre Franklin', sans-serif;
    color: #fff;
    @media only screen and (max-width: $break-mobile) {
      line-height: 30px;
    }
  }

  &-button {
    display: inline-block;
    margin-top: 30px;
    padding: 13px 116px 14px 116px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
  }

  &-button_link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: Muli, sans-serif;
  }

  &-button:hover {
    background-color: #F49128;
    border: 1px solid transparent;
    transition: 0.5s;
  }
}

// About us

.about_us {
  background-color: #eaf1f6;
  margin: 70px 0 40px 0;
  @media only screen and (max-width: $break-mobile) {
    margin: 80px -20px 40px -20px;
  }

  &-header {
    padding-top: 54px;
    padding-bottom: 24px;
    text-align: center;
    color: #3068b4;
    font-size: 32px;
    font-weight: 800;
    @media only screen and (max-width: $break-mobile) {
      line-height: 0.9;
      padding-bottom: 30px;
    }
  }

  &-paragraph_container {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;
    @media only screen and (max-width: $break-mobile) {
      padding-bottom: 10px;
    }
  }

  &-paragraph {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #4e5256;
    @media only screen and (max-width: $break-mobile) {
      font-size: 14px;
      line-height: 28px;
    }

    b {
      font-weight: 700;
      font-family: 'Libre Franklin', sans-serif;
    }
  }

  &-container {
    max-width: 850px;
    padding: 35px 0 40px 0;
    margin: 0 auto;
    @media only screen and (max-width: $break-mobile) {
      padding: 35px 0 45px 0;
    }
  }

  &-button {
    display: block;
    margin: 0 auto;
    width: 285px;
    padding: 5px 0 5px 0;
    @media only screen and (max-width: $break-mobile) {
      padding: 6px 0 6px 0;
      width: 278px;
    }

    a {
      font-weight: 700;
      font-size: 18px;
      font-family: Muli, sans-serif;
      @media only screen and (max-width: $break-mobile) {
        font-weight: 500;
      }
    }
  }
}


//  Common_questions

.common_questions {
  background-color: #eaf1f6;
  margin-bottom: 40px;
  padding-bottom: 30px;
  @media only screen and (max-width: $break-mobile) {
    margin: 0 -20px 40px -20px;
  }

  &-main_header {
    color: #3068b4;
    text-align: center;
    padding: 27px 0 38px 0;
    font-size: 42px;
    font-weight: 800;
    @media only screen and (max-width: $break-mobile) {
      font-size: 32px;
      line-height: 40px;
      padding: 30px 0 40px 0;
    }
  }

  &-header {
    padding: 20px 21px 22px 45px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    @media only screen and (max-width: $break-mobile) {
      padding: 20px 21px 22px 20px;
    }
  }

  &-header::after {
    content: "";
    display: block;
    margin-top: -15px;
    background-image: url("../assets/ic_plus.svg");
    background-repeat: no-repeat;
    background-position: right;
    height: 14px;
  }

  &-header-active {
    color: #f49128;
    font-weight: 700;
  }

  &-header-active::after {
    content: "";
    display: block;
    margin-top: -15px;
    background-image: url("../assets/ic_minus.svg");
    background-repeat: no-repeat;
    background-position: right;
    height: 14px;
  }

  &-paragraph {
    padding-bottom: 20px;
    line-height: 1.5;
    font-size: 16px;
    font-family: Libre Franklin, sans-serif;
    color: black;
  }


  &-container {
    max-width: 960px;
    margin: 0 auto;
    color: #4e5256;
    background-color: #fff;
    border: 1px solid #d7e3ef;
    border-radius: 4px;
  }


  &-containercontent {
    border-bottom: 1px solid #d7e3ef;
    cursor: pointer;

    ul {
      font-family: 'Libre Franklin', sans-serif;
      font-size: 16px;

      li {
        margin: 0 20px 20px 32px;
        line-height: 24px;
      }
    }

  }

  &-content {
    display: none;
    padding: 0 44px;

    p:nth-child(2) {
      font-family: 'Libre Franklin', sans-serif;
      font-size: 16px;
    }

    p:nth-child(3) {
      font-family: 'Libre Franklin', sans-serif;
      font-size: 16px;
    }
  }
}

// Contact us

.contact_us {
  &-container {
    max-width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 560px 500px;
    grid-column-gap: 60px;
    padding-bottom: 40px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      margin: 0 -20px;
    }
  }

  &-header {
    padding-bottom: 30px;
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    color: #3068b4;
    @media only screen and (max-width: $break-mobile) {
      font-size: 32px;
      line-height: 30px;
    }
  }

  &-information_header {
    margin: 29px 0 34px 40px;
    color: #3068b4;
    font-size: 24px;
    font-weight: 800;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 0 37px 0;
      font-size: 20px;
    }
  }

  &-paragraph {
    padding-bottom: 13px;
    line-height: 1.5;
    font-size: 13px;
    font-family: Libre Franklin, sans-serif;
    color: #4A4A4A;

    a {
      font-family: 'Libre Franklin', sans-serif;
    }
  }

  &-button {
    width: 126px;
    height: 35px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color: #F49128;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }

  .label_options {
    display: block;
    width: 498px;
    height: 35px;
    margin: 0 auto;
    padding: 2px 20px 0 20px;
    border: 1px solid #d7e3ef;
    border-radius: 6px;
    color: #4e5256;
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    @media only screen and (max-width: $break-mobile) {
      margin: 0;
      width: 100%;
      font-size: 14px;
    }
  }

  .label_options-background {
    background-image: url("../assets/select.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right;
    background-origin: content-box;
    cursor: pointer;
  }

  &-form {
    max-width: 560px;
    padding: 0 30px;
    background-color: #eaf1f6;
    border: 1px solid #d7e3ef;
    border-radius: 6px;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 auto;
      padding: 0 15px;
      border-radius: 0;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    div {
      padding-bottom: 22px;
      @media only screen and (max-width: $break-mobile) {
        padding-bottom: 12px;
      }
    }

    label {
      display: block;
      max-width: 498px;
      margin: 0 auto;
      padding-bottom: 2px;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 13px;
      color: #4e5256;
      @media only screen and (max-width: $break-mobile) {
        margin: 0;
        padding-bottom: 3px;
        font-size: 12px;
      }
    }

    input {
      display: block;
      width: 498px;
      height: 35px;
      margin: 0 auto;
      padding: 0 20px 0 20px;
      border: 1px solid #d7e3ef;
      border-radius: 6px;
      color: #4e5256;
      font-size: 16px;
      font-family: Arial, sans-serif;
      outline: none;
      @media only screen and (max-width: $break-mobile) {
        margin: 0;
        width: 100%;
        font-size: 14px;
      }
    }

    textarea {
      display: block;
      width: 498px;
      height: 150px;
      margin: 0 auto;
      padding: 10px 20px 10px 20px;
      border: 1px solid #d7e3ef;
      border-radius: 6px;
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #4e5256;
      line-height: 1.6;
      outline: none;
      @media only screen and (max-width: $break-mobile) {
        margin: 0;
        width: 100%;
        font-size: 14px;
      }
    }
  }

  &-required_fields {
    display: block;
    padding: 13px 0 25px 0;
    font-family: Libre Franklin, sans-serif;
    font-size: 11px;
    text-align: right;
    color: #d0021b;
    @media only screen and (max-width: $break-mobile) {
      padding: 28px 0 15px 0;
    }
  }

  &-box_download {
    width: 400px;
    padding: 30px 20px 30px 30px;
    border: 1px solid #D7E3EF;
    border-radius: 6px;
    margin-bottom: 20px;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }
  }

  &-box_link {
    display: block;
    background-image: url("../assets/download (2).svg");
    background-repeat: no-repeat;

    a {
      font-family: Libre Franklin, sans-serif;
      font-size: 16px;
      font-weight: 700;
      padding-left: 40px;
      text-decoration: none;
      line-height: 22px;
      color: #F49128;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &-box_paragraph {
    padding-left: 40px;
    font-size: 13px;
    color: #4a4a4a;
    font-family: Libre Franklin, sans-serif;
    padding-top: 6px;
  }

  &-information_data {
    width: 400px;
    margin-bottom: 20px;
    padding: 0 20px 30px 30px;
    border: 1px solid #D7E3EF;
    border-radius: 6px;
    @media only screen and (max-width: $break-mobile) {
      width: auto;
      padding: 30px 20px 30px 21px;
      border-radius: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    .address {
      background-image: url("../assets/ic-map-marker-alt.svg");
      background-repeat: no-repeat;
      background-position: 0 5px;
      margin-top: -5px;
      padding: 0 0 17px 40px;
      font-family: 'Libre Franklin', sans-serif;
      line-height: 1.5;
    }

    .mail {
      padding-bottom: 18px;

      a {
        background-image: url(../assets/ic-envelope.svg);
        background-repeat: no-repeat;
        padding-left: 40px;
        background-position: 0 3px;
        font-size: 16px;
        font-family: Libre Franklin, sans-serif;
        text-decoration: none;
        color: #4e5256;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .border-mobile {
      display: none;
      height: 1px;
      background-color: #4e5256;
      margin: 10px 0 21px 40px;
      @media only screen and (max-width: $break-mobile) {
        display: block;
      }
    }

    .phone {
      background-image: url("../assets/ic-phone-volume (1).svg");
      background-repeat: no-repeat;
      padding: 0 0 21px 40px;
      background-size: 17px;
      background-position: -1px 6px;
      font-family: Libre Franklin, sans-serif;

      b {
        color: #4e5256;
        font-weight: 800;
        font-size: 24px;
        font-family: Muli, sans-serif;
        @media only screen and (max-width: $break-mobile) {
          line-height: 36px;
        }
      }
    }

  }
}

// Testimonials

.testimonials {
  overflow: hidden;
  position: relative;

  &-slider {
    .slick-slide {
      img {
        filter: grayscale(100%);
      }
    }

    .slick-center {
      img {
        filter: grayscale(0);
      }
    }
  }

  &-slider-image {
    @media only screen and (max-width: $break-mobile) {
      display: none !important;
    }
  }

  &-slider_button {
    padding: 8px 22px;
    margin-left: 55px;
    font-family: Muli, sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
  }

  &-slick_slider_button {
    position: absolute;
    cursor: pointer;
    background-image: url(../assets/download5.svg);
    background-color: #fff;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 3px;
  }

  &-slick_slider_button:hover {
    background-image: url('../assets/download (4).svg');
  }

  &-slider_button_left {
    bottom: 0;
    right: 195px;
    @media only screen and (max-width: $break-mobile) {
      right: 0;
    }
  }

  &-slider_button_right {
    bottom: 0;
    right: 248px;
    transform: rotate(180deg);
    @media only screen and (max-width: $break-mobile) {
      right: 55px;
    }
  }

  &-slider_container {
    max-width: 1713px !important;
    display: flex !important;
  }

  &-small_slider_container {
    max-width: 1500px !important;
    margin: 0 auto;
  }

  &-slider_container_image {
    width: 400px;
  }

  &-slider_content {
    padding: 0 100px 0 50px;
    @media only screen and (max-width: $break-mobile) {
      padding: 0;
    }
  }

  &-slider_header {
    color: #4e5256;
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 80px;
  }

  &-small_slider_header {
    margin-bottom: 25px;
  }

  &-slider_content_logo {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .slick-list {
    padding: 0 190px 0 0 !important;
    @media only screen and (max-width: $break-mobile) {
      padding: 0 !important;
    }
  }
}

// Our customers

.our_customers {
  width: 1180px;
  margin: 0 auto;
  @media only screen and (max-width: $break-mobile) {
    display: none;
  }

  &-container {
    position: relative;
    display: inline-flex;
  }

  &-container_content {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
  }

  &-slider_button {
    position: absolute;
    cursor: pointer;
    background-image: url("../assets/download5.svg");
    background-color: #fff;
    height: 50px;
    width: 50px;
    border: none;
    top: 33px;
    border-radius: 3px;
  }

  &-slider_button_left {
    left: -60px;
    transform: rotate(180deg);
  }

  &-slider_button_left:hover {
    background-image: url("../assets/download (4).svg");
  }

  &-slider_button_right {
    right: -65px;
  }

  &-slider_button_right:hover {
    background-image: url("../assets/download (4).svg");
  }

  &-slider {
    height: 132px;
    padding: 20px;
    position: relative;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 4px;

    img {
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }

  &-slider:hover {
    border: 1px solid #979797;
  }

  &-slider:hover .our_customers-slider_link {
    display: block;
  }

  &-slider_image_link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 70px;
    width: 100%;

  }

  &-slider_link {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
    color: #f49128;
    font-size: 14px;
    font-weight: 700;
  }

  &-slider_link:hover {
    text-decoration: none;
  }

  &-header {
    padding-bottom: 14px;
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    color: #3068b4;
  }

  p {
    margin-bottom: 55px;
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    color: #4e5256;
  }
}

// Ticket system

// Ticket image container

.ticket_image {
  padding-top: 30px;

  &-container {
    margin: 30px 0 22px 0;
  }

  &-header {
    padding-bottom: 39px;
    line-height: 1.125;
    color: #4e5256;
    font-weight: 700;
    font-family: Libre Franklin, sans-serif;
  }
}

// Background image


.background-image {
  height: 300px;
  background-image: url("../assets/particles-bck.jpg");
  overflow-x: hidden;
  width: 100vw;
  background-position: bottom !important;
  @media only screen and (max-width: $break-mobile) {
    max-height: 187px !important;
  }
}

.background-image:before {
  content: "";
  width: 100vw;
  background-image: url("../assets/slider-mask.svg");
  background-position: bottom !important;
  background-repeat: no-repeat;
  background-size: auto;
  display: block;
  height: 100%;
  @media only screen and (max-width: $break-mobile) {
    background-size: cover;
  }
}

.header-container {
  width: 960px;
  margin: 0 auto;
  height: 141px;
  display: flex;
  transform: translateY(-178%);
  align-items: center;
  @media only screen and (max-width: $break-mobile) {
    padding-left: 20px;
    height: 80px;
  }
}

.header {
  max-width: 600px;
  font-size: 42px;
  font-weight: 800;
  line-height: 48px;
  color: #fff;
  @media only screen and (max-width: $break-mobile) {
    font-size: 32px;
    line-height: 36px;
    width: 35%;
  }
}

.main_image {
  margin: 0 auto;
  max-height: 300px;
  display: block;
  overflow: hidden;
  background-color: #fff;
  @media only screen and (max-width: $break-mobile) {
    margin: 0 -20px 0 -20px;
    max-height: 187px !important;
  }

  &-container {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 230px 880px;
    grid-column-gap: 70px;
    @media only screen and (max-width: $break-mobile) {
      display: block;
      padding-top: 100px;
    }
  }

  &-navigation {
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }

    ul {
      list-style: none;
      position: absolute;

      li {
        border-top: 1px solid #D7E3EF;
        padding: 6px 0 6px 0;

        a {
          font-size: 14px;
          font-family: Libre Franklin, sans-serif;
          color: #4e5256;
          text-decoration: none;
        }
      }
    }
  }

  &-description {
    padding-bottom: 40px;
    @media only screen and (max-width: $break-mobile) {
      padding-bottom: 0;
    }
  }

  &-description_header {
    padding-bottom: 50px;
  }

  &-description_header_flag {
    background-image: url("../assets/ger-flag-subheadline.svg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    padding-left: 50px;
  }
}

.description {
  &-header {
    max-width: 780px;
    color: #4e5256;
    font-size: 24px;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 32px;
    @media only screen and (max-width: $break-mobile) {
      font-size: 18px;
      line-height: 30px;
    }

    span {
      color: #3068b4;
      font-weight: 700;
    }
  }

  &-main_header {
    color: #3068b4;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
  }

  &-lead {
    padding-bottom: 60px;

    p {
      max-width: 770px;
      color: #4e5256;
      font-size: 24px;
      font-family: 'Libre Franklin', sans-serif;
      line-height: 32px;
      @media only screen and (max-width: $break-mobile) {
        font-size: 18px;
        line-height: 30px;
      }
    }

    p:nth-child(2) {
      padding-top: 30px;
    }
  }

  &-copy_container {
    padding-bottom: 30px;
  }

  &-copy-inner {
    padding-bottom: 28px;
  }

  &-copy_content {
    max-width: 780px;
  }

  &-copy-header {
    margin-bottom: 24px;
    line-height: 28px;
    color: #3068b4;
    font-family: Libre Franklin, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  &-copy-1 {
    color: #4A4A4A;
    font-family: Libre Franklin, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
  }

  &-copy-2 {
    padding-top: 16px;
    line-height: 1.8;
    color: #4A4A4A;
    font-family: Libre Franklin, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  &-copy-3 {
    padding-top: 16px;
    line-height: 1.8;
    color: #4A4A4A;
    font-family: Libre Franklin, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  &-copy-link:hover {
    color: #4A4A4A;
  }

  &-image {
    padding: 50px 0 3px 0;
  }

  &-itservice_image {
    margin: 30px 0 12px 0;
    padding-bottom: 33px;
    @media only screen and (max-width: $break-mobile) {
      margin: 60px 0 0 0;
      padding-bottom: 3px;
    }

    img {
      @media only screen and (max-width: $break-mobile) {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }

  &-blue_text_container {
    margin-top: 50px;

    p + p {
      padding-top: 16px;
    }

    @media only screen and (max-width: $break-mobile) {
      margin-left: 0;
    }
  }

  &-blue_text_container_inner {
    margin-bottom: 34px;
  }

  &-blue_text {
    padding: 0 0 0 50px;
    margin-left: 2px;
    font-style: italic;
    border-left: 5px solid #3068B4;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    color: #3068B4;
    line-height: 1.9;

    strong {
      color: #4e5256;
      font-weight: 600;
    }

    span {
      color: #4e5256;
    }
  }

}


// Tabs_blue-background

.blue_background {
  background-color: #eaf1f6;
  margin-bottom: 10px;
  @media only screen and (max-width: $break-mobile) {
    margin: 0 -20px 10px -20px;
    padding: 0 20px;
  }

  &-container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 300px;
    @media only screen and (max-width: $break-mobile) {
      padding-left: 0;
    }
  }

  &-container_inner {
    padding: 30px 0 30px 0;

    img {
      width: auto;
      max-width: 100%;
      height: auto;
    }

    @media only screen and (max-width: $break-mobile) {
      padding: 30px 0 30px 0;
    }
  }

  &-image_header {
    padding-bottom: 35px;
    color: #3068b4;
    font-size: 32px;
    font-family: Libre Franklin, sans-serif;
    @media only screen and (max-width: $break-mobile) {
      line-height: 1.125;
      padding-bottom: 36px;
    }
  }

  &-image_paragraph {
    padding-bottom: 10px;
    color: #4e5256;
    font-weight: 800;
    font-size: 13px;
  }

  &-helpdesk_image {
    margin-top: 28px;
    margin-bottom: 45px;
    @media only screen and (max-width: $break-mobile) {
      padding: 2px 20px 0 20px;
    }

    img {
      border-radius: 5px;
      @media only screen and (max-width: $break-mobile) {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }

  &-servicedesk_image {
    margin-top: 60px;
    margin-bottom: 31px;

    img {
      border-radius: 5px;
    }
  }

  &-ticket_image {
    img {
      margin-bottom: 17px;
    }
  }

  &-customercare_image {
    margin: 30px 0 33px 0;

    img {
      @media only screen and (max-width: $break-mobile) {
        width: auto;
        max-width: 100%;
        height: auto;
        padding: 0 20px;
      }
    }
  }

  &-main_header {
    color: #3068b4;
    line-height: 28px;
    padding-bottom: 24px;
    font-family: Libre Franklin, sans-serif;
    font-size: 24px;
    font-weight: 700;
    @media only screen and (max-width: $break-mobile) {
      line-height: 1.125;
      padding-bottom: 25px;
    }
  }

  &-header {
    padding-bottom: 11px;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
    font-family: Libre Franklin, sans-serif;
    color: #4e5256;
  }

}

// Spacing container

.spacing-container {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.5;
}

// Inner container

.inner-container {
  padding: 10px 0 10px 0;
  margin: 30px 0 30px 0;
}

// List
.list {
  &-container {
    padding-top: 30px;
    padding-bottom: 21px;
    margin-bottom: 10px;
    @media only screen and (max-width: $break-mobile) {
      padding: 45px 20px 21px 20px;
    }
  }

  &-header {
    color: #3068b4;
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
    padding-bottom: 35px;
    @media only screen and (max-width: $break-mobile) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &-content {
    list-style: none;

    li {
      background-image: url(../assets/ic-check.svg);
      margin-bottom: 14px;
      background-repeat: no-repeat;
      background-position: 0 5px;
      padding-left: 40px;
      color: #4e5256;
      line-height: 1.5;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 16px;
      @media only screen and (max-width: $break-mobile) {
        font-size: 14px;
        line-height: 22px;
      }
    }

  }

  &-paragraph {
    margin-top: 30px;

    p {
      margin-top: 16px;
      color: #4A4A4A;
      font-family: Libre Franklin, sans-serif;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}


// Helpdesk

.reports {
  &-container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 0 40px 300px;
    @media only screen and (max-width: $break-mobile) {
      padding: 0;
    }
  }

  &-header {
    padding-top: 29px;
    margin-bottom: 34px;
    color: #3068b4;
    font-size: 24px;
    font-weight: 800;
    @media only screen and (max-width: $break-mobile) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &-list_container {
    padding-bottom: 40px;
  }

  &-link_paragraph_container {
    padding-top: 50px;
    @media only screen and (max-width: $break-mobile) {
      padding-bottom: 40px;
    }
  }

  &-link_paragraph {
    color: #4e5256;
    line-height: 1.8;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
  }

  &-list_paragraph_container {
    padding-top: 1px;
    padding-bottom: 49px;
  }

  &-list_paragraph {
    color: #4e5256;
    line-height: 1.8;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
  }

}


// Box-container

.box {
  &-container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 30px 0 50px 300px;
    @media only screen and (max-width: $break-mobile) {
      padding: 30px 0 50px 0;
    }
  }

  &-container_header {
    font-family: Libre Franklin, sans-serif;
    font-size: 24px;
    color: #3068b4;
    padding-bottom: 24px;
  }

  &-container_content {
    display: grid;
    grid-template-columns: 290.4px 290.4px 290.4px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
    }

  }

  &-container_item {
    height: 170px;
    padding: 20px;
    position: relative;
    border: 1px solid #D7E3EF;
    background-color: #eaf1f6;
    @media only screen and (max-width: $break-mobile) {
      height: auto;
    }

    img {
      position: absolute;
      bottom: 9px;
      right: 9px;
      cursor: pointer;
    }
  }

  &-content_copy_1 {
    color: #4e5256;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 800;
    padding-bottom: 15px;
  }

  &-content_copy_2 {
    color: #4e5256;
    font-size: 13px;
    font-family: Libre Franklin, sans-serif;
    line-height: 1.5;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }
  }

  &-content_popup_button {
    background: url(../assets/orange-plus.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 9px;
    bottom: 9px;
    width: 11px;
    height: 11px;
    display: block;
    border: none;
    cursor: pointer;
  }

  // Popup container

  &-container_popup_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
    z-index: 11;
  }

  &-popup_container {
    display: none;
    background-color: #fff;
    border-radius: 6px;
    position: fixed;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-popup_close_button {
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 15;
    height: 42px;
    width: 42px;
    background: url("../assets/close.svg");
    background-repeat: no-repeat;
    background-color: #3068b4;
    background-position: 11px;
    border-radius: 50%;
    background-size: 20px;
    border: none;
    cursor: pointer;
  }

  &-popup_content {
    display: grid;
    grid-template-columns: 450px 450px;
  }

  &-popup_content_inner {
    padding: 30px 0 30px 40px;
  }

  &-popup_header {
    color: #4e5256;
    font-size: 28px;
    font-weight: 800;
    line-height: 32px;
    margin-bottom: 25px;
  }

  &-popup_paragraph {
    color: #4e5256;
    font-family: Libre Franklin, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    padding-bottom: 13px;
  }

  &-popup_paragraph_link {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
  }

  &-popup_paragraph_link:hover {
    color: #4e5256;
  }

  &-popup_content_image {
    background-image: url("../assets/particles-bck.jpg");
    position: relative;
    background-position: 100%;
    height: 400px;
  }

  &-popup_content_image:after {
    content: "";
    position: absolute;

    border-style: solid;
    border-width: 400px 100px 0 0;
    border-color: #fff transparent transparent;
  }

}


// Link container

.link_box {
  max-width: 1180px;
  margin: 0 auto;

  &-inner {
    padding: 45px 135px 34px 110px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 80px;
    grid-row-gap: 15px;
    border: 1px solid #d7e3ef;
    line-height: 1.2;
    border-top: 5px solid #f49128;
    border-radius: 0 0 6px 6px;
    background-color: #fff;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      padding: 30px;
    }
  }

  &-container {
    padding: 45px 39px 34px 59px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 80px;
    grid-row-gap: 15px;
    border: 1px solid #d7e3ef;
    line-height: 1.2;
    border-top: 5px solid #f49128;
    border-radius: 0 0 6px 6px;
    background-color: #fff;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      padding: 30px;
    }
  }

  &-list {
    list-style: none;
    margin-top: 22px;
    @media only screen and (max-width: $break-mobile) {
      order: 2;
    }

    li {
      background-image: url("../assets/ic-check.svg");
      background-repeat: no-repeat;
      background-position: left;
      padding: 0 0 1px 40px;
      margin-bottom: 16.5px;
      font-size: 14px;
      font-family: 'Libre Franklin', sans-serif;
      color: #4e5256;
    }

    li:last-child {
      padding-bottom: 8px;
      @media only screen and (max-width: $break-mobile) {
        padding-bottom: 0;
      }
    }
  }

  &-main_header {
    color: #3068B4;
    font-size: 32px;
    line-height: 38px;
    font-weight: 800;
    @media only screen and (max-width: $break-mobile) {
      order: 1;
      word-break: break-word;
    }
  }

  &-header {
    align-self: flex-end;
    color: #3068B4;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    @media only screen and (max-width: $break-mobile) {
      order: 3;
      width: auto;
    }
  }

  &-list_header {
    margin-top: 25px;
    margin-bottom: 21px;
    font-size: 20px;
    color: #4e5256;
    line-height: 28px;
    font-weight: 800;
  }

  &-list_container {
    @media only screen and (max-width: $break-mobile) {
      order: 2;
    }
  }

  &-column_container {
    max-width: 880px;
    margin-bottom: 40px;
    padding: 50px;
    border: 1px solid #d7e3ef;
    line-height: 1.2;
    border-top: 5px solid #f49128;
    border-radius: 0 0 6px 6px;
    @media only screen and (max-width: $break-mobile) {
      padding: 0;
    }
  }

  &-column {
    display: grid;
    grid-gap: 30px;
    max-width: 778px;
    grid-template-columns: 374px 374px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      grid-gap: 0;
    }

    a {
      display: flex;
      max-width: 300px;
      height: 60px;
      border: 1px solid #fff;
      border-radius: 4px;
      padding-left: 60px;
      color: #4e5256;
      font-size: 16px;
      line-height: 22px;
      text-decoration: none;
      align-items: center;
    }

    a:hover {
      background-color: #eaf1f6;
      border: 1px solid #557fb8;
    }
  }

  &-column_1 {
    font-weight: 700;
    font-family: Libre Franklin, sans-serif;
    border-right: 1px solid #d7e3ef;
    @media only screen and (max-width: $break-mobile) {
      border-right: none;
      border-bottom: 1px solid #D7E3EF;
    }
  }

  &-link_background {
    background-image: url("../assets/download.svg");
    background-repeat: no-repeat;
    background-position: 20px;
  }

  &-column_2 {
    align-self: center;
  }

  &-mail_button {
    font-family: Libre Franklin, sans-serif;
    font-weight: 700;
    background-image: url("../assets/mail_button.svg");
    background-repeat: no-repeat;
    background-position: 20px;
  }

  &-phone_button {
    font-family: Muli, sans-serif;
    font-weight: 800;
    background-image: url("../assets/phone_button.svg");
    background-repeat: no-repeat;
    background-position: 20px;
  }

  &-container_button {
    @media only screen and (max-width: $break-mobile) {
      order: 4;
      margin-right: 20px;
    }
  }

  &-button {
    margin-left: -20px;
    width: 260px;
    padding: 10px 7px 10px 60px;
    border-radius: 4px;
    border: 1px solid #fff;
    text-align: left;
    background-image: url("../assets/download (2).svg");
    background-repeat: no-repeat;
    background-position: 20px 48%;
    cursor: pointer;
    @media only screen and (max-width: $break-mobile) {
      width: auto;
      min-height: 60px;
      font-size: 14px;
    }

    .fa {
      font-size: 20px;
      padding-left: 13px;
    }

    a {
      text-decoration: none;
      font-size: 16px;
      line-height: 1.4;
      color: #4e5256;
      font-family: 'Libre Franklin', sans-serif;
      font-weight: 700;
      @media only screen and (max-width: $break-mobile) {
        font-size: 14px;
      }
    }
  }

  &-button:hover {
    border: 1px solid #557fb8;
    background-color: #eaf1f6;
  }

  &-content {
    display: grid;
    grid-row-gap: 17px;
  }

  &-data {
    padding-top: 25px;
    @media only screen and (max-width: $break-mobile) {
      order: 2;
    }
  }

  &-data_header {
    margin-bottom: 15px;
    color: #4e5256;
    line-height: 1.4;
    font-weight: 800;
    font-size: 20px;
  }

  &-data_paragraph {
    margin-bottom: 26px;
    color: #4A4A4A;
    line-height: 1.5;
    font-family: Libre Franklin, sans-serif;
    font-size: 16px;
  }
}

// Service desk

.analysis-container {
  padding-top: 21px;
}


// Kundenservice

.teaser_with_image {

  &-container {
    padding: 30px 0 54px 300px;
    max-width: 1179px;
    margin: 0 auto;
    @media only screen and (max-width: $break-mobile) {
      padding: 30px 0 54px 0;
    }
  }

  &-content {
    margin: 0 auto;
    max-width: 1179px;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 273px 273px 273px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: 273px;
      justify-content: center;
      grid-row-gap: 30px;
    }
  }

  &-image {
    padding-bottom: 16px;
    border-radius: 6px;
  }

  &-header {
    display: block;
    padding-bottom: 20px;
    line-height: 1.2;
    color: #3068b4;
    text-decoration: none;
    font-size: 24px;
    font-weight: 800;
  }

  &-paragraph {
    font-size: 13px;
    line-height: 1.6;
    font-family: Libre Franklin, sans-serif;
    color: #4e5256;
  }

  &-header:hover {
    text-decoration: underline;
  }

  &-subtitle {
    padding-bottom: 20px;
    color: #4e5256;
    font-size: 16px;
    font-weight: 700;
    font-family: Libre Franklin, sans-serif;
    line-height: 22px;
  }

  p + p {
    padding-top: 13px;
  }

  &-link {
    display: block;
    padding-top: 24px;
    font-size: 13px;
    font-weight: 700;
  }

  &-paragraph_container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 0 50px 300px;
    @media only screen and (max-width: $break-mobile) {
      padding: 0 0 50px 0;
    }
  }
}

.teaser_with_image_small {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 80px 325px;
  @media only screen and (max-width: $break-mobile) {
    grid-template-columns: 50px auto;
    grid-column-gap: 10px;
  }

  div {
    @media only screen and (max-width: $break-mobile) {
      margin-top: 15px;
      img {
        @media only screen and (max-width: $break-mobile) {
          display: block;
          margin: 0 auto;
          max-width: 30px;
        }
      }
    }
  }

  &-container {
    padding: 30px 0 30px 0;
    @media only screen and (max-width: $break-mobile) {
      padding: 40px 0 0 0;
    }
  }

  &-container_inner {
    padding: 0 0 17px 300px;
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-gap: 17px 30px;
    grid-template-columns: 425px 425px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      padding: 0 0 17px 0;
      grid-gap: 27px 30px;
    }
  }

  &-header {
    margin-bottom: 15px;
    padding-top: 25px;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 800;
    color: #3068b4;
    @media only screen and (max-width: $break-mobile) {
      padding-top: 0;
    }
  }

  &-paragraph {
    padding-bottom: 13px;
    color: #4e5256;
    font-size: 13px;
    font-family: Libre Franklin, sans-serif;
    line-height: 1.6;
  }

  &-list {
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: 26px;

    li {
      line-height: 20px;
      color: #4e5256;
      font-family: Libre Franklin, sans-serif;
      font-size: 13px;
    }

    li + li {
      margin-top: .25em;
    }
  }
}


.text_box {
  &-container_header {
    color: #3068b4;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    margin-bottom: 25px;
  }

  &-container {
    max-width: 880px;
    display: grid;
    grid-template-columns: 428px 428px;
    grid-column-gap: 24px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
    }

    h3 {
      margin-bottom: 13px;
      font-family: Libre Franklin, sans-serif;
      font-weight: 700;
    }
  }

  &-column_container {
    display: grid;
    grid-template-columns: 468px 468px;
    grid-column-gap: 30px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
    }
  }

  &-column_header {
    padding-bottom: 13px;
    line-height: 1.125;
    color: #3068b4;
    font-size: 24px;
    font-family: Libre Franklin, sans-serif;
    font-weight: 700;
  }

  &-column1 {
    h2:nth-child(3) {
      margin-top: 28px;
    }

    p + p {
      padding-top: 16px;
    }
  }

  &-column2 {
    p + p {
      padding-top: 16px;
    }
  }

  &-paragraph {
    color: #4A4A4A;
    line-height: 1.8;
    font-size: 16px;
    font-family: Libre Franklin, sans-serif;

  }


  &-header {
    padding-bottom: 13px;
    color: #4e5256;
    line-height: 1.1;
    font-size: 20px;
    font-family: Libre Franklin, sans-serif;
  }
}

// Video container
.video-container {
  max-width: 1180px;
  margin: 0 auto;

  iframe {
    @media only screen and (max-width: $break-mobile) {
      max-width: 100%;
      height: auto;
    }
  }
}


// Blue link

.blue-link {
  text-decoration: none;
  color: #3273dc;
}

.blue-link:hover {
  color: #4a4a4a;
}

// Contact information

.contact_information {
  background-color: #eaf1f6;
  @media only screen and (max-width: $break-mobile) {
    margin: 0 -20px;
    padding: 0 20px;
  }

  &-content {
    max-width: 750px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 150px;
    padding: 34px 0 24px 0;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      padding: 28px 0 19px 0;
    }

    div:nth-child(1) {
      background-image: url(../assets/ic-envelope.svg);
      background-repeat: no-repeat;
      padding: 0 0 0 50px;
      background-size: 32px;
      height: 32px;
      display: block;
      cursor: pointer;
      @media only screen and (max-width: $break-mobile) {
        padding-left: 40px;
        background-size: 20px;
      }

      a {
        text-decoration: none;
        margin-top: -3px;
        font-weight: 800;
        font-size: 20px;
        color: #4e5256;
        @media only screen and (max-width: $break-mobile) {
          display: block;
          margin-top: -7px;
        }
      }
    }

    div:nth-child(2) {
      padding-left: 46px;
      background-image: url("../assets/ic-phone-header1.svg");
      background-repeat: no-repeat;
      background-size: 30px;
      height: 32px;
      font-weight: 800;
      font-size: 20px;
      color: #4e5256;
      @media only screen and (max-width: $break-mobile) {
        display: block;
        padding-left: 40px;
        margin-bottom: 3px;
        background-size: 19px;
        background-position: 0;
      }
    }
  }
}


// It service management

.page {
  &-main_container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 300px;
    @media only screen and (max-width: $break-mobile) {
      padding-left: 0;
    }
  }

  &-container {
    max-width: 960px;
    margin: 0 auto;
  }

  &-main_container_inner {
    padding: 30px 0 30px 0;
  }

  &-main_bluetext_container {
    margin: -2px 0 20px 2px;
    @media only screen and (max-width: $break-mobile) {
      margin: 0 0 20px 0;
    }
  }

  &-main_header {
    color: #3068b4;
    font-family: Libre Franklin, sans-serif;
    font-size: 24px;
    margin-bottom: 24px;
  }

  &-list_container {
    margin-bottom: 30px;
  }

  &-list_paragraph {
    padding-bottom: 12px;
    line-height: 1.5;
    font-family: Libre Franklin, sans-serif;
    font-size: 16px;
    color: #4A4A4A;
  }

  &-list {
    list-style: none;

    li {
      background-image: url(../assets/ic-check.svg);
      background-repeat: no-repeat;
      background-position: 0 10px;
      margin-top: 4px;
      line-height: 24px;
      padding: 5px 0 5px 40px;
      color: #4e5256;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 16px;
      @media only screen and (max-width: $break-mobile) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  &-list_header {
    color: #3068b4;
    line-height: 28px;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 30px;
    @media only screen and (max-width: $break-mobile) {
      font-size: 20px;
      line-height: 26px
    }
  }

  &-list_container_inner {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &-columns_header {
    color: #3068b4;
    font-weight: 800;
    font-size: 24px;
    padding-bottom: 14px;
    line-height: 28px;
  }

  &-two_columns_header {
    margin-bottom: 14px;
    color: #3068b4;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
  }

  &-two_columns_content {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &-two_columns_container {
    margin-bottom: 10px;
  }

  &-two_columns {
    padding-bottom: 10px;
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: 428px 428px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
    }

  }

  &-column {
    padding-right: 24px;
    @media only screen and (max-width: $break-mobile) {
      padding-right: 0;
    }

    p:last-child {
      padding: 0;
    }
  }

  &-column_header {
    padding: 11px 0 13px 0;
    line-height: 1.1;
    color: #4e5256;
    font-family: Libre Franklin, sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

  &-column_paragraph {
    font-family: Libre Franklin, sans-serif;
    color: #4A4A4A;
    line-height: 1.8;
    padding-bottom: 16px;
  }
}


// Client

.text_with_image {
  padding-top: 30px;
  padding-bottom: 30px;
  @media only screen and (max-width: $break-mobile) {
    padding: 30px 20px 30px 20px;
  }

  &-container {
    display: grid;
    grid-template-columns: 602px 252px;
    grid-column-gap: 28px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      grid-row-gap: 10px;
    }
  }

  &-content {
    @media only screen and (max-width: $break-mobile) {
      order: 2;
    }
  }

  &-image {
    img {
      border-radius: 50%;
      @media only screen and (max-width: $break-mobile) {
        order: 1;
      }
    }
  }

  &-main_header {
    color: #3068b4;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    margin-bottom: 20px;
  }

  &-header {
    max-width: 600px;
    margin-bottom: 28px;
    color: #3068b4;
    font-weight: 800;
    line-height: 36px;
    font-size: 32px;
  }

  &-lead {
    color: #4e5256;
    line-height: 28px;
    font-size: 16px;
    font-weight: 700;
    font-family: Libre Franklin, sans-serif;
    padding-bottom: 16px;
  }

  &-paragraph {
    color: #4e5256;
    line-height: 28px;
    font-size: 16px;
    font-family: Libre Franklin, sans-serif;
    padding-bottom: 16px;

    a {
      text-decoration: none;
      color: #3273dc;
    }
  }
}

// Box_list

.box_list {
  max-width: 880px;
  margin: 0 auto;
  padding: 13px 0 30px 0;
  @media only screen and (max-width: $break-mobile) {
    padding: 13px 40px 30px 40px;
  }

  .blue-background {
    background-color: #eaf1f6;
  }

  &-inner {
    margin-top: 9px;
    margin-bottom: 10px;
  }

  &-header {
    color: #3068b4;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 39px;
  }

  &-container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
    }
  }

  &-item {
    position: relative;
    background-color: #fff;
    border: 1px solid #D7E3EF;
    padding: 20px;
  }

  &-title {
    margin-bottom: 15px;
    font-family: Muli, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    color: #4e5256;
  }

  &-paragraph {
    overflow: hidden;
    height: 40px;
    display: block;
    color: #4e5256;
    font-family: Libre Franklin, sans-serif;
    font-size: 13px;
    line-height: 1.5;
  }

  &-paragraph-active {
    height: auto;
  }

  &-button {
    cursor: pointer;
    background: none;
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    display: block;

    img {
      height: 10px;
      margin: 10px;
    }
  }
}


.page_content {

  &-copy-1 {
    padding-bottom: 27px;
    line-height: 1.8;
    color: #4A4A4A;
    font-weight: 400;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
  }

  &-copy-2 {
    line-height: 1.8;
    color: #4A4A4A;
    font-weight: 400;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
  }

  &-paragraph {
    line-height: 1.8;
    padding-bottom: 20px;
    color: #4A4A4A;
    font-weight: 400;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
  }

  &-container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 300px;
    @media only screen and (max-width: $break-mobile) {
      padding-left: 0;
    }

    h3 {
      padding-bottom: 13px;
      line-height: 1.125;
      color: #4e5256;
      font-size: 20px;
      font-weight: 700;
      font-family: Libre Franklin, sans-serif;
    }
  }
}

// Packages

.packages {
  margin-top: -10px;
  margin-bottom: 40px;
  border-top: 3px solid #f49128;
  @media only screen and (max-width: $break-mobile) {
    margin: -10px -20px 40px -20px;
  }

  &-header {
    max-width: 860px;
    margin: 0 auto;
    padding: 40px 0;
    color: #4e5256;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    line-height: 28px;

    span {
      color: #3068b4;
    }
  }

  &-container {
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-column-gap: 60px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      grid-row-gap: 30px;
      padding: 0 30px 20px 30px;
    }
  }

  &-box {
    background-color: #D7E3EF;
    border-radius: 2px;

    a {
      display: block;
      padding: 17px 20px 10px 20px;
      color: #4e5256;
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      font-family: Libre Franklin, sans-serif;
    }

    a:hover {
      color: #3273dc;
    }
  }

  &-paragraph {
    padding: 0 20px 20px 20px;
    height: 80px;
    color: #4e5256;
    font-size: 13px;
    line-height: 18px;
    font-family: Libre Franklin, sans-serif
  }

  &-box_inner {
    border-top: 1px solid #fff;

    p {
      margin-left: 20px;
      line-height: 18px;
      font-weight: 700;
      font-family: Libre Franklin, sans-serif;
      font-size: 15px;
    }
  }

  &-check_double {
    background-image: url("../assets/ic-check-double.svg");
    background-repeat: no-repeat;
    background-position: 20px;

    p {
      padding: 12px 40px;
      color: #51b430;
    }
  }

  &-ic_minus {
    background-image: url("../assets/ic_minus1.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 20px;

    p {
      padding: 12px 35px;
      color: #979797;
    }
  }

  &-check_blue {
    background-image: url("../assets/check_blue.svg");
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 20px;

    p {
      padding: 12px 35px;
      color: #3068b4;
    }
  }
}

// One image container

.image {
  &-container {
    padding-top: 30px;
    line-height: 1.6;

    img {
      border-radius: 6px;
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }

  &-description {
    padding-top: 13px;
    color: #4e5256;
    font-family: Libre Franklin, sans-serif;
    font-size: 13px;
    line-height: 20px;
  }

  &-description_link {
    color: #3068b4;
    text-decoration: none;
  }

  &-description_link:hover {
    color: #4e5256;
  }

  &-enterprise_version {
    padding-top: 15px;
  }

  &-content {
    margin-bottom: 40px;
  }
}


// Configuration Management

.image_and_text {
  max-width: 1180px;
  margin: 0 auto;
  padding: 30px 0 30px 300px;
  display: grid;
  grid-template-columns: 430px 430px;
  grid-column-gap: 20px;
  @media only screen and (max-width: $break-mobile) {
    padding: 30px 0 30px 0;
    grid-template-columns: auto;
    grid-row-gap: 20px;
  }
}

.image {
  @media only screen and (max-width: $break-mobile) {
    order: 1;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
}

.text {
  align-self: center;
  @media only screen and (max-width: $break-mobile) {
    order: 2;
  }

  &-header {
    font-size: 32px;
    padding-bottom: 35px;
    line-height: 38px;
    font-weight: 800;
    color: #3068b4;
  }

  &-lead {
    color: #3068b4;
    font-family: Muli, sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    @media only screen and (max-width: $break-mobile) {
      text-align: center;
    }
  }

  &-paragraph {
    color: #4e5256;
    font-family: Libre Franklin, sans-serif;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 16px;
  }
}

// Unordered list

.unordered_list {
  &-container {
    padding-top: 10px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 440px 440px;
    grid-column-gap: 12px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
    }
  }

  &-content {
    margin-top: 12px;
    margin-left: 32px;
    color: #4A4A4A;
    line-height: 1.5;

    li {
      padding-top: 4px;
      font-family: Libre Franklin, sans-serif;
    }
  }

  &-header {
    color: #3068b4;
    font-size: 24px;
    font-weight: 700;
    font-family: Libre Franklin, sans-serif;
    line-height: 1.125;
  }
}

// Download box

.download_box {
  text-align: center;

  &-header {
    padding-bottom: 10px;
    line-height: 28px;
    font-size: 24px;
    color: #3068b4;
    font-weight: 800;
  }

  &-paragraph {
    line-height: 28px;
    color: #4e5256;
    font-size: 16px;
    font-family: Libre Franklin, sans-serif;
  }

  &-button {
    background: url("../assets/download (1).svg");
    background-repeat: no-repeat;
    background-color: #f49128;
    background-position: 10px;
    display: inline-block;
    margin-top: 20px;
    padding: 5px 10px 5px 40px;

    a {
      font-family: Muli, sans-serif;
      font-size: 18px;
      font-weight: 700;
    }
  }
}

// Small icon box

.small_icon {
  &-box {
    padding-left: 41px;
    padding-top: 1px;
    display: grid;
    grid-template-columns: 374px 374px;
    grid-row-gap: 53px;
    grid-column-gap: 50px;
    @media only screen and (max-width: $break-mobile) {
      padding-left: 0;
      grid-template-columns: auto;
    }

    div {
      text-align: center;
    }
  }

  &-header {
    color: #4e5256 !important;
    line-height: 28px !important;
    font-family: Libre Franklin, sans-serif !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    padding-top: 18px !important;
    padding-bottom: 12px !important;
  }

  &-paragraph {
    padding-bottom: 21px;
    color: #4e5256;
    font-size: 16px;
    font-family: Libre Franklin, sans-serif;
    line-height: 26px;
  }

  &-paragraph_link {
    color: #3273dc;
    text-decoration: none;
  }

  &-paragraph_link:hover {
    color: #363636;
  }

  &-box_link {
    background-image: url("../assets/plus.svg");
    background-repeat: no-repeat;
    background-position: 0;
    padding-left: 20px;
    color: #f49128;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }

  &-box_link:hover {
    text-decoration: none;
  }

  &-box-container {
    margin-bottom: 23px;
  }

}


// Partnet box

.partner_box {
  margin: 20px 0 40px 1px;

  &-container {
    display: grid;
    grid-template-columns: 286px 286px 286px;
    grid-gap: 10px;
    @media only screen and (max-width: $break-mobile) {
      grid-row-gap: 30px;
      grid-template-columns: 286px;
      justify-content: center;
    }
  }

  &-content {
    border: 1px solid #d8d8d8;
    padding-bottom: 30px;
    position: relative;
  }

  &-header {
    padding: 13px 10px 16px 30px;
    border-bottom: 1px solid #d8d8d8;
    color: #3068b4;
    font-size: 24px;
    font-weight: 800;
    line-height: 26px;
  }

  &-list {
    padding: 10px;
    list-style: none;

    li {
      padding-left: 25px;
      color: #4e5256;
      line-height: 17px;
      font-size: 13px;
      font-family: Libre Franklin, sans-serif;
      padding-bottom: 15px;
      background-image: url("../assets/check.svg");
      background-repeat: no-repeat;
      background-position-y: 3px;
    }
  }

  &-blue_container {
    background-color: #d7e3ef;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &-paragraph {
    padding: 6px 0 7px 35px;
    color: #3068b4;
    font-family: Libre Franklin, sans-serif;
    font-size: 11px;
    line-height: 24px;
  }
}

// Training box

.training_box {
  display: grid;
  grid-template-columns: 290px 290px 290px;
  grid-gap: 8.5px;
  @media only screen and (max-width: $break-mobile) {
    grid-template-columns: auto;
  }

  .blue-background {
    background-color: #eaf1f6;
  }

  &-item {
    padding: 10px 20px 25px;
    background-color: #fff;
    border: 1px solid #d7e3ef;
  }

  &-title {
    color: #4e5256;
    margin-bottom: 15px;
    font-family: Muli, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 28px;
  }

  &-paragraph {
    display: block;
    color: #4e5256;
    font-family: Libre Franklin, sans-serif;
    font-size: 13px;
    line-height: 1.5;
  }

  &-list {
    list-style: none;

    li {
      background-image: url("../assets/ic-check.svg");
      background-repeat: no-repeat;
      background-position: 2px 2px;
      padding-left: 25px;
      padding-top: 1px;
      color: #4a4a4a;
      font-size: 13px;
      font-family: Libre Franklin, sans-serif;
      line-height: 1.5;
    }

    li + li {
      margin-top: 2px;
    }
  }
}

.sap_anbindung-image {
  width: 100%;
  height: auto;
}

// Blue list box

.blue_list_box {
  background-color: #3068b4;

  &-container {
    display: grid;
    grid-template-columns: 418px 418px;
    grid-gap: 45px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
    }
  }

  &-header_container {
    padding: 17px 30px;
    border-bottom: 1px solid #d7e3ef;
  }

  &-header {
    font-family: Muli, sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 26px;
    color: #fff;
  }

  &-list {
    margin: 20px 30px 20px 30px;
    list-style: none;

    li {
      color: #fff;
      font-family: Libre Franklin, sans-serif;
      font-size: 16px;
      line-height: 28px;
      background-image: url("../assets/white-check.svg");
      background-repeat: no-repeat;
      background-position-y: 8px;
      padding-left: 25px;
      margin-bottom: 10px;
    }
  }
}

// Image and description

.image_and_description {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  grid-column-gap: 10px;
  @media only screen and (max-width: $break-mobile) {
    grid-template-columns: auto;
  }

  &-container {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &-content {
    width: 280px;
    align-self: flex-end;
  }

  &-image {
    img {
      border-radius: 5px;
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }
}

// Reference

.reference {
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px 0;
  @media only screen and (max-width: $break-mobile) {
    margin: 0 -20px;
  }

  &-container {
    display: grid;
    grid-template-columns: 575px 575px;
    grid-column-gap: 20px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
    }
  }

  &-box_row {
    display: grid;
    grid-row-gap: 20px;
  }

  &-box {
    background-color: #fff;
    border: 1px solid #d7e3ef;
    border-radius: 4px;
  }

  &-box_content {
    display: flex;
    border-bottom: 1px solid #D7E3EF;
  }

  &-box_list {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    padding: 15px 15px 30px 180px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      float: left;
      padding: 15px 15px 30px 122px;
    }
  }

  &-box_list_item {
    color: #3068b4;

    a {
      color: #3068b4;
      font-family: Libre Franklin, sans-serif;
      font-size: 12px;
      line-height: 20px;
    }
  }

  &-box_list_item:hover {
    color: #f49128;

    a {
      text-decoration: none;
      color: #f49128;
    }
  }

  &-logo {
    max-width: 150px;
    padding: 15px;
    @media only screen and (max-width: $break-mobile) {
      max-width: 90px;
    }

    img {
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }

  &-description {
    max-width: 425px;
    padding: 30px 15px 15px 15px;
    @media only screen and (max-width: $break-mobile) {
      max-width: calc(100% - 90px);
    }
  }

  &-header {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #3068b4;
    font-size: 28px;
    font-weight: 800;
    line-height: 28px;
    word-break: break-word;
  }

  &-header:hover {
    color: black;
  }

  &-paragraph {
    margin-bottom: 14px;
    color: #4e5256;
    font-family: Libre Franklin, sans-serif;
    font-size: 14px;
    line-height: 24px;
  }

  &-link {
    font-size: 14px;
    font-weight: 700;
  }

}

// Reference-small
.reference_small {
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 273px 273px 273px 273px;
  grid-gap: 30px;
  @media only screen and (max-width: $break-mobile) {
    grid-template-columns: auto auto;
  }

  &-box {
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #D7E3EF;
    border-radius: 4px;
  }

  &-logo {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    height: auto;
  }
}

// Tabs container

.tabs {
  max-width: 800px;

  &-list {
    display: inline-flex;
    list-style: none;
    padding-top: 10px;
    @media only screen and (max-width: $break-mobile) {
      display: grid;
    }

    .active {
      margin-top: -10px;
      padding-top: 7px;
      border: 1px solid #d7e3ef;
      border-bottom: none;
      background-color: #fff;
      color: #4e5256;
    }
  }

  &-content_list {
    margin: 30px;
  }

  &-content {
    padding: 9px 0 20px 0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .09);
    background-color: #fff;
  }
}

.tab {
  padding: 0 25px;
  margin-right: 3px;
  cursor: pointer;
  border: 1px solid #d7e3ef;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #d7e3ef;
  color: #3068b4;
  font-family: Libre Franklin, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 54px;
}


[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}


// List and image container

.list_and_image {
  display: grid;
  grid-template-columns: 680px 500px;
  @media only screen and (max-width: $break-mobile) {
    grid-template-columns: auto;
  }

  &-header {
    margin-bottom: 20px;
    color: #3068b4;
    font-family: Muli, sans-serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 48px;
    @media only screen and (max-width: $break-mobile) {
      font-size: 32px;
      margin-bottom: 0;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: 363px 363px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      margin-bottom: 20px;
    }
  }

  &-list_content {
    margin-top: 12px;
    margin-left: 20px;
    color: #4A4A4A;
    line-height: 1.8;
    font-family: Libre Franklin, sans-serif;
    font-size: 14px;
    @media only screen and (max-width: $break-mobile) {
      margin-bottom: 15px;
    }
  }

  &-list_header {
    color: #4e5256;
    font-family: Muli, sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    @media only screen and (max-width: $break-mobile) {
      font-size: 20px;
    }
  }

  &-image {
    img {
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }
}

// Arrows

.arrows {
  &-image_container {
    padding-left: 168px;
    @media only screen and (max-width: $break-mobile) {
      padding-left: 0;
    }
  }

  &-main_header {
    padding-top: 45px;
    padding-left: 30px;
    color: #3068b4;
    font-size: 32px;
    font-weight: 800;
    line-height: 34px;
  }

  &-header {
    padding: 20px;
    display: block;
    align-self: center;
    max-width: 300px;
    color: #4e5256;
    font-size: 24px;
    font-weight: 800;
    line-height: 26px;
    text-align: right;
    @media only screen and (max-width: $break-mobile) {
      text-align: center;
      margin: 0 auto;
      font-size: 20px;
    }
  }

  &-paragraph {
    color: #4e5256;
    font-family: Libre Franklin, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-left: 60px;

    strong {
      position: absolute;
      left: 25px;
      font-size: 26px;
      line-height: 40px;
    }
  }

  &-content {
    width: 500px;
    align-items: center;
    position: relative;
    padding: 20px 0 20px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    @media only screen and (max-width: $break-mobile) {
      display: none;
    }
  }

  &-container {
    display: grid;
    padding-left: 73px;
    grid-template-columns: 300px 500px;
    grid-column-gap: 35px;
    position: relative;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      padding-left: 0;
    }
  }

  &-container:hover .arrows-header {
    color: #f49128;
    text-decoration: underline;
  }

  &-container:hover .arrows-content {
    border-top: 1px solid #f49128;
    border-bottom: 1px solid #f49128;
  }

  &-container:hover strong {
    color: #f49128;
  }

  &-container:after {
    position: absolute;
    background-image: url("../assets/download (5).svg");
    background-repeat: no-repeat;
    content: "";
    width: 30px;
    height: 30px;
    left: 328px;
    bottom: -29px;
    @media only screen and (max-width: $break-mobile) {
      left: calc(50% - 15px);
      bottom: -18px;
    }
  }

  &-container:last-child:after {
    display: none;
  }
}


// Footer

footer {
  background-color: #2B5082;
  @media only screen and (max-width: $break-mobile) {
    margin: 0 -20px 0 -20px;
  }
}

.footer {

  &-background {
    width: 100%;
    margin-top: 29px;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #2B5082;
    background-image: url('../assets/footer-bck.png');
    background-repeat: no-repeat;
    @media only screen and (max-width: $break-mobile) {
      margin-bottom: 22px;
    }
  }

  &-container {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 21px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 162px 804px;
    font-size: 12px;
    grid-column-gap: 178px;
    color: #fff;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: auto;
      padding: 0 20px;
    }
  }

  &-logo {
    margin-bottom: 57px;
    @media only screen and (max-width: $break-mobile) {
      margin-top: 21px;
      margin-bottom: 22px;
    }
  }

  &-information_content {
    p {
      color: #eaf1f6;
      font-family: Libre Franklin, sans-serif;
      line-height: 1.5;
    }

    a {
      display: block;
      margin-bottom: 59px;
      color: #eaf1f6;
      font-family: Libre Franklin, sans-serif;
      font-size: 12px;
    }

    a:hover {
      text-decoration: none;
    }

  }

  &-information-copy-1 {
    padding-bottom: 25px;
    color: #d7e3ef;
    font-weight: bold;
    font-family: Libre Franklin, sans-serif;
  }

  &-information-copy-2 {
    padding-bottom: 19px;
  }

  &-navigation {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px;
    grid-column-gap: 40px;
    @media only screen and (max-width: $break-mobile) {
      grid-template-columns: 170px;
    }

    ul {
      list-style: none;
      line-height: 23px;

      a {
        color: #D7E3EF;
        text-decoration: none;
        font-family: Libre Franklin, sans-serif;
      }

      a:hover {
        color: #F49128;
        transition: 0.2s;
      }
    }
  }

  &-navigation_header {
    display: block;
    color: #d7e3ef;
    font-family: Libre Franklin, sans-serif;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 29px;
    font-weight: 700;
    text-decoration: none;
    @media only screen and (max-width: $break-mobile) {
      padding-top: 40px;
    }
  }

  &-navigation_header:hover {
    color: #F49128;
    cursor: pointer;
    transition: 0.3s;
  }

  &-bottom {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    padding: 21px 0 20px 0;
    border-top: 1px solid #557fb8;
    grid-template-columns: auto auto;
    @media only screen and (max-width: $break-mobile) {
      margin: 50px 2px 0px 20px;
      text-align: center;
      grid-template-columns: auto;
    }

    p {
      color: rgba(215, 227, 239, .5);
      font-family: Libre Franklin, sans-serif;
      font-size: 10px;
      @media only screen and (max-width: $break-mobile) {
        order: 2;
      }
    }
  }

  &-bottom_list {
    margin-top: -6px;
    float: right;
    list-style: none;
    @media only screen and (max-width: $break-mobile) {
      order: 1;
      float: none;
      padding-bottom: 20px;
    }

    li {
      display: inline-block;
      float: right;
      @media only screen and (max-width: $break-mobile) {
        float: none;
      }

      a {
        padding: 0 10px 0 12px;
        color: #D7E3EF;
        text-decoration: none;
        font-size: 10px;
        font-family: Libre Franklin, sans-serif;
      }

      a:hover {
        color: #f49128;
      }
    }
  }

}

.contact {
  &-phone {
    max-width: 175px;
    display: grid;
    grid-template-columns: 19px 150px;
    grid-column-gap: 6px;
    @media only screen and (max-width: $break-mobile) {
      padding: 20px 0 20px 2px;
    }

    img {
      height: 22px;
      padding-top: 3px;
    }
  }

  &-phone_number {
    font-size: 16px;
    font-weight: 800;
    font-family: Muli, sans-serif;
  }
}
